<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.6.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="stylesheet/email.css" class="css">
</head>
<body>
     <div class="main">
        <div class="tick"><i class="ri-check-line"></i></div>
        <div class="content"> 
            <h1>Our Team will call you shortly in
                12-24 hrs
                
                </h1>
                <button  onclick="window.location.href = '/'">Check Another video →</button>
        </div>
     </div>
</body>
</html>