<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>anchors</title>
    <link rel="icon" href="https://png.pngtree.com/png-vector/20190307/ourlarge/pngtree-vector-dice-four-icon-png-image_762926.jpg" type="image/x-icon">
    <link rel="stylesheet" href="/stylesheet/landingPage.css" class="css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.6.0/fonts/remixicon.css" rel="stylesheet">
</head>
<body>
    <div class="main">
        <div class="navbar">
            <img src="https://t3.ftcdn.net/jpg/03/00/38/90/360_F_300389025_b5hgHpjDprTySl8loTqJRMipySb1rO0I.jpg" alt="">
          <!-- <h3 class="logo-text"><span style="color:red">YT</span> Checker</h3> -->
        </div>
        <div class="landing-main">

           <div class="content-main"> <h1>Discover your earning </h1>
            <h1>potential</h1>
            <p>Turn your youtube expertise into a lucrative income </p>
            <p > through resource sharing</p>
        </div>
           <div class="input-main">
            <form action="/search" id="checkForm" method="post">
              <input type="text"  placeholder=' &#xF2D5; enter youtube video link'  name="videoUrl">
            <button type="submit">check</button>
            </form>
           </div>
           <p class="bottom"> created with <span class="heart">❤️</span> by vinek </p>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.3/gsap.min.js" integrity="sha512-7Au1ULjlT8PP1Ygs6mDZh9NuQD0A5prSrAUiPHMXpU6g3UMd8qesVnhug5X4RoDr35x5upNpx0A6Sisz1LSTXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        const tl = gsap.timeline()
        
        
        tl.from('.navbar img',{
            y:-100,
            delay:0.3,
            duration:0.6
        })
        tl.from('.content-main h1 , .content-main p , .input-main ',{
          scale:0,
          opacity:0,
          duration:0.7,
          stagger:0.5
        })


        


    </script>
</body>
</html>